* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    line-height: 18px;
    font-style: normal;
    font-weight: 400;
}

body {
    background-color: #0a0a0a;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.container_logo {  
    margin-bottom: 35px;
}

#logo_profile {
    width: 150px;
}

#logo_profile:hover {
    rotate: -10deg;
}

.container {
    width: 800px;
    background-color: #1c1c1c;
    border-radius: 10px;
    margin-top: 5px;
}

header {
    background-color: #1B83E2;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px 10px 0 0;
}

h1 {
    font-size: 30px;
    color: #F4F4F4;
}

main {
    padding: 24px;
}

.container_selects {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

label {
    font-size: 17px;
    color: #7f7f7f;   
}

select {
    background: #FFFFFF;
    border-radius: 4px;
    height: 48px;
    width: 360px;
    display: block;

    cursor: pointer;
    outline: none;
    appearance: none;
    padding-left: 16px;
    box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.15);
    margin-top: 6px;
    margin-bottom: 24px;
}

input {
    background: #FFFFFF;
    border-radius: 4px;
    height: 48px;
    display: block;
    width: 100%;
    outline: none;
    padding-left: 16px;
    box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.15);
    font-size: 18px;
}

button {
    background: #1B83E2;
    border-radius: 7px;
    height: 48px;
    cursor: pointer;
    width: 100%;
    border: none;
    color: #F4F4F4;
    font-weight: 700;
    font-size: 20px;
    margin-top: 24px;
    margin-bottom: 36px;
}

button:hover {
    opacity: 0.9;
}

button:active {
    opacity: 0.7;
}

section {
    border: 1px solid #1B83E2;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 25px;
    padding: 50px;
}

.currency-container {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.currency-name { 
    font-size: 20px; 
    color: #777777;
}

.currency-value {
    font-weight: 700;
    font-size: 25px;
    color: #1B83E2;
}

.arrow-image {
    rotate: -90deg;
}

@media screen and (max-width: 1366px) {

    .container_logo {  
        margin-bottom: 5px;
    }
 
    #logo_profile {
        width: 120px;
    }

    .container {
        margin-top: 0;
    }
    
    header {
        height: 48px;
    }
    
    h1 {
        font-size: 25px;
    }
    
    main {
        padding: 10px 24px;
    }
    
    select {
        height: 45px;
    }
    
    input {
        height: 45px;
    }
    
    button {
        height: 45px;
        font-size: 19px;
        margin-top: 22px;
        margin-bottom: 33px;
    }
    
    section {
        padding: 30px;
    }
}

@media screen and (max-width: 768px) {

    body {
        height: 100%;
    }

    #logo_profile {
        width: 80px;
        margin-top: 5px;
    }
    
    .container {
        width: 318px;
    }
    
    header {
      display: none;
    }
    
    h1 {
        font-size: 28px;
    }
    
    main {
        padding: 10px 15px;
    }
    
    .container_selects {
        flex-direction: column;
        justify-content: none;
    }
    
    label {
        font-size: 15px;
    }
    
    select {
        width: 100%;
        margin-top: 5px;
        margin-bottom: 15px;
    }
    
    button {
        margin-top: 20px;
        margin-bottom: 25px;

    }

    section {
        flex-direction: column;
        gap: 10px;
    }
    
    .currency-container {
        padding: 0px;
        gap: 0px;
    }
    
    .currency-name { 
        font-size: 15px; 
    }
    
    .currency-value {
        font-size: 18px;
    }
    
    .arrow-image {
        rotate: 0deg;
    }
}